body{
    margin: 0 auto;
    background-color: #202020;
    color: #fff;
}

.main{
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    color:#202020;
}

.news{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    gap: 10px;
}